/* ROBOTO REGULAR */
/* font-family: 'Roboto', sans-serif; */

/* ROBOTO MONO */
/* font-family: 'Roboto Mono', monospace; */
nav a {
    font-family: 'Roboto Mono', monospace;
}

section h2 {
    font-family: 'Roboto Mono', monospace;
}

section p{
    font-family: 'Roboto', sans-serif;
}

#contact a {
    font-family: 'Roboto Mono', monospace;
}