body {
    margin: 0;
    padding: 0;
    background-color: #e3d5f0;
    color:#00031a;
    font-family: 'Roboto Mono', monospace;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #060507;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    line-height: 1.5;
    font-size: 14px;
}

a {
    color: #e3d5f0;
}

a:hover{
    opacity: 70%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #6f5c82;
}

nav h2{
    color: #e3d5f0;
}

nav ul li{
    display: inline;
    font-size: 170%;
    margin-left: 10px;
}

#hero{
    background-image: url('img/circuits.jpeg');
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 100%;
    font-size: 225%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;   
}

#hero h2{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #6f5c82;
    color: #e3d5f0;
}



#about, #work, #contact{
    padding: 25px;
}

#about h2, #work h2, #contact h2{
    background-color: #6f5c82;
    color: #e3d5f0; 
    font-size: 170%;
    display: inline-block;
}

#show-bg-hero {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('img/nationalparkfinder.jpeg');
    width: 80%;
    height: 75vh;
    margin: 0 auto;
    background-size: cover;
    color: white;
    position: relative;
}

#show-bg-hero:hover{
    background-image: url('img/nationalparkfinder.jpeg');
}

#show-bg-hero a span{
    position:absolute; 
    width:100%;
    height:100%;
    top:100;
    left: 0;
    z-index: 1;
    font-size: 200%;

}
#show-bg-hero h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #6f5c82;
    color: #e3d5f0;
}

#project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#show-bg-1 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('img/challenge-5-screen.png');
    width: 40%;
    height: 45vh;
    margin: 25px auto;
    background-size: cover;
    color: white;
    position: relative;
    display: inline-block;
}

#show-bg-1:hover{
    background-image: url('img/challenge-5-screen.png');
}

#show-bg-1 a span{
    position:absolute; 
    width:100%;
    height:100%;
    top:100;
    left: 0;
    z-index: 1;
    font-size: 200%;

}
#show-bg-1 h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #6f5c82;
    color: #e3d5f0;
}



#show-bg-2 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('img/readme.png');
    width: 40%;
    height: 45vh;
    margin: 25px auto;
    background-size: cover;
    color: white;
    position: relative;
    display: inline-block;
}

#show-bg-2:hover{
    background-image: url('img/readme.png');
}

#show-bg-2 a span{
    position:absolute; 
    width:100%;
    height:100%;
    top:100;
    left: 0;
    z-index: 1;
    font-size: 200%;

}
#show-bg-2 h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #6f5c82;
    color: #e3d5f0;
}

#show-bg-3 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('img/runbuddy.png');
    width: 40%;
    height: 45vh;
    margin: 25px auto;
    background-size: cover;
    color: white;
    position: relative;
    display: inline-block;
}

#show-bg-3:hover{
    background-image: url('img/runbuddy.png');
}

#show-bg-3 a span{
    position:absolute; 
    width:100%;
    height:100%;
    top:100;
    left: 0;
    z-index: 1;
    font-size: 200%;

}
#show-bg-3 h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #6f5c82;
    color: #e3d5f0;
}

#show-bg-4 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('img/roster.png');
    width: 40%;
    height: 45vh;
    margin: 25px auto;
    background-size: cover;
    color: white;
    position: relative;
    display: inline-block;
}

#show-bg-4:hover{
    background-image: url('img/roster.png');
}

#show-bg-4 a span{
    position:absolute; 
    width:100%;
    height:100%;
    top:100;
    left: 0;
    z-index: 1;
    font-size: 200%;

}
#show-bg-4 h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #6f5c82;
    color: #e3d5f0;
}

@media only screen and (max-width: 768px) {
    #show-bg-1, #show-bg-2, #show-bg-3, #show-bg-4, #show-bg-hero {
        width: 90%;
    }
}

#contact{
    display: flex;
    justify-content: left;
    background-color: #6f5c82;
    color: #e3d5f0; 
}

#contact h2{
    margin: 0 0 0 25px;
    padding: 0;
    font-size: 170%;
}

#contact ul{
    margin: 0 0 0 25px;
    padding: 0;
}

#contact ul li{
    display: inline;
    font-size: 170%;
}